<html>
    <head>
            <title> {{title}} {{meow}}</title>
    </head>

    <body>
        <div class="card">
            <div class="card-header">
                Quote
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                <p>A well-known quote, contained in a blockquote element.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>
        {% for i in loop  %}

              <div>{{i}}</div> 
        {% endfor %}

        <table border= 1>
             <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                </tr>
            </thead>
            <tbody>
                
                {% for d in di_list %}
                <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.num}}</td>
                </tr>
                {% endfor %}
                
                
            </tbody>
        </table>


    </body>
</html>